.sp2020 h1 {
    font-size: 200%;
    font-weight: bold;
  }
  
//   .sp2020-form-wrapper {
//     display: flex;
//     justify-content: center;
  
//     width: 100%;
//   }
  
//   .sp2020-form {
//     width: 100%;
//     min-height: 1200px;
//     margin: 0 auto;
//   }

.sp2020-font125 {
    font-size: 125%;
}